@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/banner.css";

header.header nav.nav ul.link_list >li a.-on{
  color: #E7005C;
}

section.about{
  /* border: 1px solid black; */
  background-color: #FFFFDF;
  position: relative;
}

section.about div.about_block1{
  /* border: 1px solid blue; */
  padding-top: 100px;
}

section.about div.about_block1 div.about_img,
section.about div.about_block1 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block1 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
  margin-left: 150px;
  margin-right: 60px;
}

section.about div.about_block1 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block1 div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-top: 70px;
  margin-right: 120px
}



section.about div.line1{
  /* border: 1px solid green; */
}

section.about div.line1 > img{
  /* border: 1px solid orange; */
  margin-left: 200px;
}



section.about div.about_block2{
  /* border: 1px solid blue; */
}

section.about div.about_block2 div.about_img,
section.about div.about_block2 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block2 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
}

section.about div.about_block2 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block2 div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-left: 250px;
  margin-right: 50px;
  margin-top: 70px;
}




section.about div.about_block3{
  /* border: 1px solid blue; */
}

section.about div.about_block3 div.about_img,
section.about div.about_block3 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block3 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
  margin-left: 150px;
  margin-right: 60px;
  margin-top: -50px;
}

section.about div.about_block3 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block3 div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-top: 30px;
  margin-right: 120px
}


section.about div.line2{
  /* border: 1px solid green; */
}

section.about div.line2 > img{
  /* border: 1px solid orange; */
  margin-left: 180px;
  margin-top: -30px;
}





section.about div.about_block4{
  /* border: 1px solid blue; */
}

section.about div.about_block4 div.about_img,
section.about div.about_block4 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block4 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
}

section.about div.about_block4 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block4 div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-left: 294px;
  margin-right: 50px;
  margin-top: 70px;
}




section.about div.about_block5{
  /* border: 1px solid blue; */
}

section.about div.about_block5 div.about_img,
section.about div.about_block5 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block5 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
  margin-left: 150px;
  margin-right: 60px;
  margin-top: -50px;
}

section.about div.about_block5 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block5   div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-top: 30px;
  margin-right: 120px
}



section.about div.about_block6{
  /* border: 1px solid blue; */
  padding-bottom: 100px;
}

section.about div.about_block6 div.about_img,
section.about div.about_block6 div.about_word{
  display: inline-block;
  vertical-align: top;
}

section.about div.about_block6 div.about_img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  /* border: 1px solid orange; */
}

section.about div.about_block6 div.about_img > img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.about div.about_block6 div.about_word{
  /* border: 1px solid green; */
  font-size: 24px;
  margin-left: 200px;
  margin-right: 50px;
  margin-top: 70px;
}

/* 蔬菜小圖示 */

section.about div.veg1{
  position: absolute;
  top: 370px;
  left: 750px;
}

section.about div.veg2{
  position: absolute;
  top: 905px;
  left: 310px;
}


section.about div.veg3{
  position: absolute;
  top: 1390px;
  left: 700px;
}

section.about div.veg4{
  position: absolute;
  top: 1885px;
  left: 400px;
}

section.about div.veg5{
  position: absolute;
  top: 2420px;
  left: 840px;
}
