@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";

/*麵包削*/

section.breadcrumb{
  /* border: 1px solid green; */
  background-color: #FFFFDF;
}

@media (min-width: 1400px){
  section.breadcrumb{
    width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  section.breadcrumb{
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  section.breadcrumb{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.breadcrumb{
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.breadcrumb{
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px){
  section.breadcrumb{
    width: 100%;
    margin: 0 auto;
  }
}


section.breadcrumb div.breadcrumb_list{
  /* border: 1px solid blue; */
  padding: 5px 10px;
}

section.breadcrumb div.breadcrumb_list > ol{
  /* border: 1px solid red; */
  list-style: none;
  margin-top: 50px;
  margin-left: 88px;
  padding: 0;
}

section.breadcrumb div.breadcrumb_list > ol > li{
  /* border: 1px solid yellow; */
  display: inline-block;
  margin-right: 5px;
  font-size: 16px;
}

section.breadcrumb div.breadcrumb_list > ol > li:nth-child(5){
  color: #E7005C;
}

section.breadcrumb div.breadcrumb_list > ol > li > a{
  text-decoration: none;
  color: #232323;
}

section.breadcrumb div.breadcrumb_list > ol > li > a:hover{
  color: #2e9648;
}

/*商品列表*/

section.sec1{
  /* border: 1px solid black; */
  padding: 40px 0 100px 0;
  background-color: #FFFFDF;
}

@media (min-width: 1400px){
  section.sec1{
    width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  section.sec1{
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  section.sec1{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.sec1{
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.sec1{
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px){
  section.sec1{
    width: 100%;
    margin: 0 auto;
  }
}


section.sec1 div.flex_container{
  /* border: 1px solid blue; */
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.sec1 div.flex_container{
    display: block;
    width: 100%;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.sec1 div.flex_container{
    display: block;
    width: 100%;

  }
}

@media (max-width: 575.98px){
  section.sec1 div.flex_container{
    display: block;
    width: 100%;
  }
}



section.sec1 div.flex_container div.items{
  /* border: 1px solid orange; */
}

section.sec1 div.flex_container div.items.-left{
  flex-basis: 400px;
  flex-shrink: 0;
  font-size: 0;
  width: 100%;
  /* border: 1px solid red; */
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.sec1 div.flex_container div.items.-left{
    margin-bottom: 50px;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.sec1 div.flex_container div.items.-left{
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px){
  section.sec1 div.flex_container div.items.-left{
    margin-bottom: 50px;
  }
}

section.sec1 div.flex_container div.items.-left div.img_block{
  /* border: 1px solid blue; */
  width: 100%;
}


section.sec1 div.flex_container div.items.-left div.img_block > img{
  width: 400px;
  height: 350px;
  /* border: 1px solid red; */
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.sec1 div.flex_container div.items.-left div.img_block > img{
    margin: 0 auto;
    display: block;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.sec1 div.flex_container div.items.-left div.img_block > img{
    margin: 0 auto;
    display: block;
  }
}

@media (max-width: 575.98px){
  section.sec1 div.flex_container div.items.-left div.img_block > img{
    margin: 0 auto;
    display: block;
  }
}


section.sec1 div.flex_container div.items.-right{
  flex-grow: 1;
  font-size: 20px;
  padding-left: 50px;
}

section.sec1 div.flex_container div.items.-right h1.title1{
  margin: 0 0 20px 0;
  font-size: 24px;
  color: #232323;
}

section.sec1 div.flex_container div.items.-right > p{
  font-size: 18px;
  margin: 0px;
  color: #232323;
}

section.sec1 div.flex_container div.items.-right > p:nth-child(3){
  margin-top: 10px;
  margin-bottom: 14px;
}

section.sec1 div.flex_container div.items.-right ul.desc_list{
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
}

section.sec1 div.flex_container div.items.-right > p:nth-child(4){
 margin-bottom: 30px;
}
section.sec1 div.flex_container div.items.-right ul.desc_list span.original_price{
  color: #232323;
  opacity: 35%;
  text-decoration: line-through;
  font-size: 18px;
}

section.sec1 div.flex_container div.items.-right ul.desc_list span.sell_price{
  color: #E95444;
  font-size: 24px;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.item_block{
  /* border: 1px solid blue; */
  margin-bottom: 30px;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.item_block input.buy_count{
  vertical-align: middle;
  width: 50px;
  height: 20px;
  transform: translateY(-2px);
}

section.sec1 div.flex_container div.items.-right form.buy_form div.item_block label.label_item{
  display: inline-block;
  vertical-align: middle;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.btn_block{
  /* border: 1px solid red; */
}

section.sec1 div.flex_container div.items.-right form.buy_form div.btn_block button.btn1{
  width:150px;
  height: 50px;
  border: 0;
  margin: 0 40px 30px 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #FBE251;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.btn_block button.btn1:hover{
  background-color: #A2D97E;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.btn_block button.btn2{
  width:150px;
  height: 50px;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #FB7813;
}

section.sec1 div.flex_container div.items.-right form.buy_form div.btn_block button.btn2:hover{
  background-color: #A2D97E;
}

/* 烹飪小教室 */

article.article{
  /* border: 1px solid black; */
}

@media (min-width: 1400px){
  article.article{
    width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  article.article{
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  article.article{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  article.article{
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  article.article{
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px){
  article.article{
    width: 100%;
    margin: 0 auto;
  }
}




article.article div.cook_title{
  /* border: 1px solid orange; */
}

article.article  div.cook_title > h1{
  /* border: 1px solid blue; */
  font-size: 28px;
  color: #2E9648;
  margin: 0 0 50px 98px;
  display: inline-block;

}

article.article div.cook_block{
  /* border: 1px solid green; */
}

article.article div.cook_block ol.cook_list{
  margin: 0 0 0px 120px;
  padding: 0 0 80px 0;
  font-size: 24px;
  color: #232323;
}

/* 相關產品 */



section.relative{
  background-color: #FFFFDF;
  position:relative;
}

section.relative div.cook_title > h1{
  /* border: 1px solid blue; */
  font-size: 28px;
  color: #2E9648;
  margin: 0 0 50px 98px;
  display: inline-block;
}


section.relative ul.product_list{
  list-style: none;
  margin: 0 0 0 100px;
  padding: 0 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

 ul.product_list > li{
  /* border: 1px solid red; */
  margin-right: 30px;
  margin-bottom: 30px;
  width: 250px;
  background-color: #ffffff;
}

section.relative ul.product_list > li > a{
  /* border: 1px solid blue; */
  display: block;
  text-decoration: none;
  width: 250px;
  box-shadow: 0 0 5px gray;
  overflow: hidden;
}

section.relative ul.product_list > li > a:hover div.fresh_img > img{
  transform: scale(1.1, 1.1);
}

section.relative ul.product_list > li > a > h1.product_name{
  /* border: 1px solid purple; */
  font-size: 20px;
  color: #232323;
  margin-top: 5px;
  margin-bottom: 8px;
  padding: 0 7px;
}

section.relative ul.product_list > li > a div.fresh_img{
  /* border: 1px solid purple; */
  font-size: 0;
}

section.relative ul.product_list > li > a div.fresh_img > img{
  width: 100%;
  /* border: 1px solid red; */
  height: 200px;
  transition: transform 1s;
}

section.relative ul.product_list > li > a div.price_block{
  /* border: 1px solid green; */
}

section.relative ul.product_list > li > a div.price_block div.price_block1{
  /* border: 1px solid blue; */
  font-size: 16px;
  color: #232323;
  opacity: 35%;
  text-decoration: line-through;
  padding: 0 0 5px 12px;
}

section.relative ul.product_list > li > a div.price_block div.price_block2{
  /* border: 1px solid yellow; */
  font-size: 20px;
  color: #E95444;
  padding: 0 0 5px 7px;
}

section.relative ul.product_list > li > a div.cart_block{
  /* border: 1px solid black; */
}

section.relative ul.product_list > li > a div.cart_block button.cart_btn1{
  /* border: 1px solid blue; */
  padding: 0;
  position: absolute;
  top: 345px;
  left: 299px;
  border: 0;
  background-color: transparent;
}


section.relative ul.product_list > li > a div.cart_block button.cart_btn2{
  /* border: 1px solid blue; */
  padding: 0;
  position: absolute;
  top: 345px;
  left: 579px;
  border: 0;
  background-color: transparent;
}

@media (max-width: 669px){
  section.relative ul.product_list > li > a div.cart_block button.cart_btn2{
    position: absolute;
    top: 1015px;
    left: 298px;
  }
}
section.relative ul.product_list > li > a div.cart_block button.cart_btn3{
  /* border: 2px solid blue; */
  padding: 0;
  position: absolute;
  top: 345px;
  left: 859px;
  border: 0;
  background-color: transparent;
}

@media (max-width: 942px){
  section.relative ul.product_list > li > a div.cart_block button.cart_btn3{
    position: absolute;
    top: 680px;
    left: 298px;
  }
}


section.relative ul.product_list > li > a div.cart_block button.cart_btn1 > img{
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

section.relative ul.product_list > li > a div.cart_block button.cart_btn2 > img{
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}

section.relative ul.product_list > li > a div.cart_block button.cart_btn3 > img{
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  cursor: pointer;
}
