@import "./common/all.css";
@import "./common/header.css";
@import "./common/footer.css";
@import "./common/banner.css";

header.header nav.nav ul.link_list >li a.-on{
  color: #E7005C;
}

section.popular{
  /* border: 1px solid black; */
}

@media (min-width: 1400px){
  section.popular{
    width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  section.popular{
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  section.popular{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.popular{
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.popular{
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px){
  section.popular{
    width: 100%;
    margin: 0 auto;
  }
}


section.popular div.title1{
  font-size: 28px;
  color: #2e9648;
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
}

section.popular div.title1 > p{
  margin-left: 50px;
  font-weight: bold;
  text-align: center;
}

section.popular{
  /* border: 1px solid black; */
  background-color: #FFFFDF;
  padding: 40px 0 0 0;
}

section.popular div.flex_container{
  /* border: 1px solid red; */
  width: 1000px;
  height: 420px;
  display: flex;
  margin: 0 auto;
}

 @media (min-width: 992px) and (max-width: 1199.98px){
  section.popular div.flex_container{
      width: 960px;
      margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container{
      width: 720px;
      margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container{
      width: 540px;
      display: block;
      margin: 0 auto;
      height: auto;
  }
}

@media (max-width: 575.98px){
  section.popular div.flex_container{
      width: 100%;
      display: block;
      margin: 0 auto;
      height: auto;
  }
}


section.popular div.flex_container div.items{
  /* border: 1px solid blue; */
}

section.popular div.flex_container div.items.-left{
  flex-basis: 500px;
  flex-shrink: 0;
  margin-right: 50px;
  /* border: 4px solid red; */

}

 @media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-left{
    flex-basis: 400px;
    flex-shrink: 0;
    margin-right: 20px;
    /* border: 1px solid red; */
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-left{
    margin: 0px auto;
    /* border: 1px solid red; */
    width:400px;
  }
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left{
    margin: 0px auto;
    width: 80%;
    height: 80%;
    margin-bottom: 50px;

  }
}



section.popular div.flex_container div.items.-left > a{
  text-decoration: none;
  position: relative;
  width: 500px;
  height: 420px;
  /* border: 1px solid red; */
  display: inline-block;
  overflow: hidden;
}

 @media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-left > a{
    width: 400px;
    height: 420px;
    /* border: 1px solid red; */
  }
}

 @media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-left > a{
    width: 400px;
    height: 300px;
    /* border: 1px solid red; */
    margin-bottom: 50px;
  }
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left > a{
    width: 100%;
    height: auto;
  }
}


section.popular div.flex_container div.items.-right{
 flex-grow: 1;
}

section.popular div.flex_container div.items.-left  > a div.img_block{
  /* border: 1px solid purple; */
}

section.popular div.flex_container div.items.-left  > a div.img_block > img{
  width: 100%;
  height: 420px;
  vertical-align: bottom;
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left  > a div.img_block > img{
    width: 100%;
    height: 100%;
  }
}



section.popular div.flex_container div.items.-left > a div.word_block{
  /* border: 1px solid green; */
  position: absolute;
  top: 362px;
  left: 0;
  transform: translateY(0%);
  transition: transform .5s;
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-left > a div.word_block{
    position: absolute;
    top: 245px;
    left: 0;
    transform: translateY(0%);
    transition: transform .5s;
  }
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left > a div.word_block{
    position: absolute;
    top: 50px;
    left: 0;
    transform: translateY(0%);
    transition: transform .5s;
  }
}




section.popular div.flex_container div.items.-left > a:hover div.word_block{
  transform: translateY(-60%);
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left > a:hover div.word_block{
    transform: translateY(0%);
  }
}

section.popular div.flex_container div.items.-left > a div.word_block div.t1{
  /* border: 1px solid red; */
  background-color: hsla(0, 0%, 0%, .3);
  color: #FFFF00;
  width: 500px;
  height: 59px;
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left > a div.word_block div.t1{
    /* border: 1px solid red; */
    background-color: hsla(0, 0%, 0%, .3);
    color: #FFFF00;
    width: 100%;
    height: 59px;
  }
}




section.popular div.flex_container div.items.-left > a div.word_block div.t1 > h1{
  margin: 10px 20px;
  font-size: 28px;
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-left > a div.word_block div.t1 > h1{
    margin: 0;
    padding: 10px;
  }
}


section.popular div.flex_container div.items.-left > a div.word_block div.p1 p.p2{
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, .3);
  margin: 0;
  padding: 5px 10px;
  font-size: 20px;
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-left > a div.word_block div.p1 p.p2{
    display: none;
  }
}



/*熱門文章右邊欄*/
section.popular div.flex_container div.items.-right{
  /* border: 5px solid red; */
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-right{
    margin: 0px auto;
    width: 80%;
    height: 80%;
  }
}





section.popular div.flex_container div.items.-right > a {
  display: inline-block;
  /* border: 1px solid red; */
  text-decoration: none;
  position: relative;
  overflow: hidden;
  /* border: 5px solid blue; */
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-right > a {
    margin-left: 62px;
  }
}

@media (max-width: 575.98px){
  section.popular div.flex_container div.items.-right > a{
    width: 100%;
    height: auto;
  }
}





section.popular div.flex_container div.items.-right > a:first-child{
  margin-bottom: 17px;

}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-right > a:first-child{
    margin-bottom: 50px;
    margin-left: 62px;
  }
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a:first-child{
  margin-bottom: 50px;
  }
}


section.popular div.flex_container div.items.-right > a div.img_block{
  width: 450px;
  height: 200px;
  /* border: 1px solid purple; */
}

@media (min-width:992px) and (max-width: 1199.98px){
  section.popular div.flex_container div.items.-right > a div.img_block{
    width: 400px;
    }
}

@media (min-width:768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-right > a div.img_block{
    width: 290px;
    height: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-right > a div.img_block{
    width: 400px;
    height: 300px;
  }
}

 @media (max-width: 575.98px){
  section.popular div.flex_container div.items.-right > a div.img_block{
    width: 100%;
    height: auto;
  }
}




section.popular div.flex_container div.items.-right > a div.img_block > img{
  width: 100%;
  height: 100%;
}

section.popular div.flex_container div.items.-right > a div.word_block1{
  position: absolute;
  top: 160px;
  left: 0;
  transform: translateY(0%);
  transition: transform .5s;
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-right > a div.word_block1{
    position: absolute;
    top: 260px;
    left: 0;
  }
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block1{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
}





section.popular div.flex_container div.items.-right > a:hover div.word_block1{
  transform: translateY(-60%);
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-right > a:hover div.word_block1{
    width: 100%;
    transform: translateY(-45%);

  }
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a:hover div.word_block1{
    transform: translateY(0%);
  }
}

section.popular div.flex_container div.items.-right > a div.word_block1 div.t1{
  /* border: 1px solid red; */
  background-color: hsla(0, 0%, 0%, .3);
  color: #FFFF00;
  width: 100%;
  height: 40px;
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block1 div.t1{
    height: 100%;
  }
}

section.popular div.flex_container div.items.-right > a div.word_block1 div.t1 > h1{
  text-align: center;
  font-size: 24px;
  /* border: 1px solid green; */
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
}

section.popular div.flex_container div.items.-right > a div.word_block1 div.p1 p.p2{
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, .3);
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  /* border: 1px solid red; */
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block1 div.p1 p.p2{
    display: none;
  }
}

/*玉米*/

section.popular div.flex_container div.items.-right > a div.word_block2{
  position: absolute;
  top: 160px;
  left: 0;
  transform: translateY(0%);
  transition: transform .5s;
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.popular div.flex_container div.items.-right > a div.word_block2{
    position: absolute;
    top: 260px;
    left: 0;
  }
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block2{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
}


section.popular div.flex_container div.items.-right > a:hover div.word_block2{
  transform: translateY(-60%);
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.popular div.flex_container div.items.-right > a:hover div.word_block2{
    width: 100%;
    transform: translateY(-45%);
  }
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a:hover div.word_block2{
    width: 100%;
    transform: translateY(0%);
  }
}

section.popular div.flex_container div.items.-right > a div.word_block2 div.t1{
  /* border: 1px solid red; */
  background-color: hsla(0, 0%, 0%, .3);
  color: #FFFF00;
  width: 100%;
  height: 40px;
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block2 div.t1{
    height: 100%;
  }
}


section.popular div.flex_container div.items.-right > a div.word_block2 div.t1 > h1{
  text-align: center;
  font-size: 24px;
  /* border: 1px solid green; */
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 2px;
}

section.popular div.flex_container div.items.-right > a div.word_block2 div.p1 p.p2{
  color: #ffffff;
  background-color: hsla(0, 0%, 0%, .3);
  margin: 0;
  padding: 5px 10px;
  font-size: 18px;
}

@media (max-width: 576px){
  section.popular div.flex_container div.items.-right > a div.word_block2 div.p1 p.p2{
    display: none;
  }
}




/* 每日精選 */
section.featured{
  /* border: 1px solid black; */
}

@media (min-width: 1400px){
  section.featured{
    width: 1320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  section.featured{
    width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  section.featured{
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.featured{
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.featured{
    width: 540px;
    margin: 0 auto;
  }
}

@media (max-width: 575.98px){
  section.featured{
    width: 100%;
    margin: 0 auto;
  }
}



section.featured div.fe_title{
  font-size: 28px;
  color: #2e9648;
  /* border: 1px solid green; */
  margin: 0;
  padding: 0;
}

section.featured div.fe_title > p{
  font-weight: bold;
  margin: 0 0 28px 60px;
  padding-top: 68px;
  text-align:center;
}


section.featured div.flex_container1{
  /* border: 5px solid red; */
  border-top: 2px solid #232323;
  width: 1000px;
  height: 273px;
  display: flex;
  margin: 0 auto 50px;
}

 @media (min-width: 992px) and (max-width: 1199.98px){
  section.featured div.flex_container1{
    width: 960px;
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.featured div.flex_container1{
    width: 720px;
    display: flex;
  }
}

@media (min-width: 576px) and (max-width: 767.98px){
  section.featured div.flex_container1{
    width: 540px;
    display: block;
    height: 600px;
  }
}

@media (max-width: 576px){
section.featured div.flex_container1{
  width: 80%;
  display: block;
  height: auto;
  }
}




section.featured div.flex_container1 div.fe.-left1{
  /* border: 1px solid blue; */
  flex-basis: 350px;
  flex-shrink: 0;
  height: 250px;
  margin-right: 50px;
  margin-top: 20px;
}

@media (min-width: 576px) and (max-width: 767.98px){
section.featured div.flex_container1 div.fe.-left1{
  width:350px;
  height: 250px;
  margin: 0  auto;
  }
}

section.featured div.flex_container1 div.fe.-left1 > img{
  width: 100%;
  height: 100%;
}

section.featured div.flex_container1 div.fe.-right1{
  flex-grow: 1;
  border: 1px solid orange;
}



section.featured div.flex_container1 div.fe.-right1 > h2{
  border: 1px solid green;
  font-size: 24px;
  color: #232323;
  margin-bottom: 35px;
}

section.featured div.flex_container1 div.fe.-right1 > p{
  font-size: 18px;
  color: #232323;
  opacity: 60%;
  border: 1px solid blue;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}

@media (max-width: 575.98px){
  section.featured div.flex_container1 div.fe.-right1 > p{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}


/*分頁*/
section.page{
  background-color: #FFFFDF;
  /* border: 3px solid black; */
  margin-bottom: 100px;
  text-align: center;
}

@media (min-width: 1400px){
  section.page{
    width: 1320px;
    margin: 20px auto 100px;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px){
  section.page{
    width: 1140px;
    margin: 20px auto 100px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px){
  section.page{
    width: 960px;
    margin: 20px auto 100px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  section.page{
    width: 720px;
    margin: 20px auto 100px;
  }
}

@media (min-width: 576px) and (max-width:767.98px){
  section.page{
    width: 540px;
    margin: 20px auto 100px;
  }
}

@media (max-width: 575.98px){
  section.page{
    width: 100%;
    margin: 20px auto 100px;
  }
}


section.page div.pagination_block{
  /* border: 1px solid red; */
  display: inline-block;
  /* margin: 30px 0 90px 205px; */
  text-align: center;
}

section.page div.pagination_block ul.pagination{
  /* border: 1px solid blue; */
  list-style: none;
  /* margin-left: 230px; */
  padding: 0;
  font-size: 0;

}

section.page div.pagination_block ul.pagination > li{
  /* border: 1px solid green; */
  display: inline-block;
}

section.page div.pagination_block ul.pagination > li > a{
  text-decoration: none;
  font-size: 16px;
  display: inline-block;
  /* border: 1px solid orange; */
  padding: 5px 10px;
  color: #232323;
}

section.page div.pagination_block ul.pagination > li > a:hover,
section.page div.pagination_block ul.pagination > li > a.-on{
  color: #043CFC;
}

section.page div.pagination_block ul.pagination > li:first-child > a{
  transform: translateY(8px);
}

section.page div.pagination_block ul.pagination > li:last-child > a{
  transform: translateY(8px);
}

@media (max-width: 575.98px){
section.page div.pagination_block ul.pagination > li:nth-child(7){
  display: none;
}

@media (max-width: 575.98px){
section.page div.pagination_block ul.pagination > li:nth-child(8){
  display: none;
}

@media (max-width: 575.98px){
section.page div.pagination_block ul.pagination > li:nth-child(9){
  display: none;
}

@media (max-width: 575.98px){
section.page div.pagination_block ul.pagination > li:nth-child(10){
  display: none;
}
