*{
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  margin: 0  auto;
  /* width: 1200px; */
  width: 100%;
  /* height: auto; */
  font-family: "Noto Sans TC";
  background-color: #FFFFDF;
}
img{
  max-width: 100%;
}
